{#-
Below are imports for Bakery's macros. If any are unneeded, they can be removed.
Bakery handles bootstrapping the files into template rendering.
-#}
{%- import "python.j2" as python -%}
{%- import "quarto.j2" as quarto -%}
{%- import "r.j2" as r -%}
{%- set clean_version = Image.Version | stripMetadata -%}
{%- set version_split = clean_version.split('.') -%}
{%- set major_version = version_split[0]|int -%}
{%- set minor_version = version_split[1]|int -%}
{%- set fix_version = version_split[2]|int -%}
user:
  rstudio-connect:
    exists: true
    uid: 999
    gid: 999

group:
  rstudio-connect:
    exists: true
    gid: 999

package:
  rstudio-connect:
    installed: true
  {% raw -%}
  {{ $apt_package_list_path := printf "/tmp/version/deps/%s-%s_packages.txt" .Env.IMAGE_OS_NAME .Env.IMAGE_OS_VERSION }}
  {{ $apt_package_list := readFile $apt_package_list_path | splitList "\n" }}
  {{- range $apt_package_list }}
  {{ . }}:
    installed: true
  {{ end }}
  {%- endraw %}

process:
  connect:
    running: true
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}

port:
  tcp6:3939:
    listening: true
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}

file:
  /etc/rstudio-connect/license.lic:
    # Currently does not exist
    # Be sure it is NOT a directory
    exists: false
  /opt/rstudio-connect/:
    exists: true
  /opt/rstudio-connect/bin/connect:
    exists: true
  # Ensure startup file exists
  /usr/local/bin/startup.sh:
    exists: true
    owner: root
    group: root
    filetype: file
  # Check that `cracklib-runtime` is present so `chpasswd` works
  /var/cache/cracklib/cracklib_dict.pwd:
    exists: true
  {% raw %}{{ if eq .Env.IMAGE_VARIANT "Standard" }}
  /var/log/rstudio/rstudio-connect/rstudio-connect.log:
    exists: true
    filetype: file
    contents:
      - "Startup complete"
    # Skip for now since logs go to STDERR
    skip: true
  {{ end }}{% endraw %}

  # Check for R installation
  {% for r_version in Dependencies.R -%}
  /opt/R/{{ r_version }}/bin/R:
    exists: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Standard" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: file
    mode: "0755"
  {%- endfor %}

  # Check for Python installation
  {% for python_version in Dependencies.python -%}
  {{ python.get_version_directory(python_version) }}/bin/python:
    exists: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Standard" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink
  {%- endfor %}

  # Check for Quarto installation
  {% for quarto_version in Dependencies.quarto -%}
  /opt/quarto/{{ quarto_version }}/bin/quarto:
    exists: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Standard" }}true{{ else }}false{{ end }}{% endraw %}
    mode: "0755"
  /usr/local/bin/quarto:
    exists: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Standard" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink
    linked-to: /opt/quarto/{{ quarto_version }}/bin/quarto
    mode: "0777"
  {%- endfor %}

command:
  "Ensure Connect version is correct":
    exec: /opt/rstudio-connect/bin/connect --version
    exit-status: 0
    stdout:
      - "{{ Image.Version }}"

{% for r_version in Dependencies.R %}
  "Ensure R version is correct":
    exec: {{ r.get_version_directory(r_version) }}/bin/R --version
    exit-status: 0
    stdout:
      - "{{ r_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}
{% endfor %}

  {% for python_version in Dependencies.python -%}
  "Ensure Python {{ python_version }} version is correct":
    exec: {{ python.get_version_directory(python_version) }}/bin/python --version
    exit-status: 0
    stdout:
      - "{{ python_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}
  {%- endfor %}

{% for quarto_version in Dependencies.quarto %}
  "Ensure Quarto version is correct":
    exec: {{ quarto.get_version_directory(quarto_version) }}/bin/quarto --version
    exit-status: 0
    stdout:
      - "{{ quarto_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}
{% endfor %}
  "Ensure Quarto symlink version is correct":
    exec: /usr/local/bin/quarto --version
    exit-status: 0
    stdout:
      - "{{ Dependencies.quarto.0 }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}
  "Ensure Quarto works":
    exec: /usr/local/bin/quarto check --quiet
    exit-status: 0
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}
  "Ensure TinyTeX is installed":
    exec: "HOME='/opt' quarto list tools"
    exit-status: 0
    stderr:
      - "/tinytex\\s+Up to date/"
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}
