{%- set clean_version = image_version | regex_replace('[+-].*', '') -%}
{%- set version_split = clean_version.split('.') -%}
{%- set major_version = version_split[0]|int -%}
{%- set minor_version = version_split[1]|int -%}
{%- set fix_version = version_split[2]|int -%}
user:
  rstudio-connect:
    exists: true
    uid: 999
    gid: 999

group:
  rstudio-connect:
    exists: true
    gid: 999

package:
  rstudio-connect:
    installed: true
  cracklib-runtime:
    installed: true

process:
  rstudio-connect:
    running: true
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}

port:
  tcp6:3939:
    listening: true
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}

file:
  /etc/rstudio-connect/license.lic:
    # Currently does not exist
    # Be sure it is NOT a directory
    exists: false
  /opt/rstudio-connect/:
    exists: true
  /opt/rstudio-connect/bin/connect:
    exists: true
  /usr/local/bin/tini:
    exists: true
  # Ensure startup file exists
  /usr/local/bin/startup.sh:
    exists: true
    owner: root
    group: root
    filetype: file
  # Check that `cracklib-runtime` is present so `chpasswd` works
  /var/cache/cracklib/cracklib_dict.pwd:
    exists: true
  {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}
  /var/log/rstudio/rstudio-connect/rstudio-connect.log:
    exists: true
    filetype: file
    contents:
      - "Posit Connect service is ready"
  /tmp/startup.log:
    exists: true
    contents:
    - "!Error: Couldn't read configuration file "
  {{ end }}{% endraw %}

  # Check for R installation
  /opt/R/{{ r_version }}/bin/R:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: file
  /opt/R/default/bin/R:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: file
  /usr/local/bin/R{{ r_version }}:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink
  /usr/local/bin/Rscript{{ r_version }}:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink

  # Check for Python installation
  /opt/python/{{ python_version }}/bin/python:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
  /opt/python/default/bin/python:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
  /usr/local/bin/python{{ python_version }}:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink
  /usr/local/bin/pip{{ python_version }}:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink

  # Check for Quarto installation
  /opt/quarto/bin/quarto:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
  /usr/local/bin/quarto:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink

command:
  "Ensure Connect version is correct":
    exec: /opt/rstudio-connect/bin/connect --version
    exit-status: 0
    stdout:
      - "{{ image_version }}"

  "Ensure R version is correct":
    exec: /opt/R/{{ r_version }}/bin/R --version
    exit-status: 0
    stdout:
      - "{{ r_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}
  "Ensure R symlink version is correct":
    exec: /usr/local/bin/R --version
    exit-status: 0
    stdout:
      - "{{ r_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}

  "Ensure Python version is correct":
    exec: /opt/python/{{ python_version }}/bin/python --version
    exit-status: 0
    stdout:
      - "{{ python_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}
  "Ensure Python symlink version is correct":
    exec: /usr/local/bin/python{{ python_version }} --version
    exit-status: 0
    stdout:
      - "{{ python_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}

  "Ensure Quarto version is correct":
    exec: /opt/quarto/{{ quarto_version }}/bin/quarto --version
    exit-status: 0
    stdout:
      - "{{ quarto_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}
  "Ensure Quarto symlink version is correct":
    exec: /usr/local/bin/quarto --version
    exit-status: 0
    stdout:
      - "{{ quarto_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}
  "Ensure Quarto works":
    exec: /opt/quarto/{{ quarto_version }}/bin/quarto check --quiet
    exit-status: 0
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}
  "Ensure Quarto symlink works":
    exec: /usr/local/bin/quarto check --quiet
    exit-status: 0
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}
  "Ensure TinyTeX is installed":
    exec: quarto list tools
    exit-status: 0
    stderr:
      - "/tinytex\\s+Up to date\\s+v\\d{4}\\.\\d{2}(\\.\\d{2})?\\s+v\\d{4}\\.\\d{2}(\\.\\d{2})?/"
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}
