{#-
Below are imports for Bakery's macros. If any are unneeded, they can be removed.
Bakery handles bootstrapping the files into template rendering.
-#}
{%- import "apt.j2" as apt -%}
{%- import "r.j2" as r -%}
{%- import "python.j2" as python -%}
{%- import "quarto.j2" as quarto -%}
#!/bin/bash
set -eou pipefail

# Output delimiter
d="===="

apt-get update -yq

{% if Image.IsDevelopmentVersion -%}
echo "$d Fetching Posit Connect {{ Image.Version }} package $d"

# fetch latest deb package
curl -fsSL "${DOWNLOAD_URL}" -o /tmp/rstudio-connect.deb

# install latest deb package
echo "$d Installing Posit Connect {{ Image.Version }} $d"
apt-get install -yf /tmp/rstudio-connect.deb
{%- else -%}
echo "$d Installing Posit Connect {{ Image.Version }} $d"

RSTUDIO_INSTALL_NO_LICENSE_INITIALIZATION=1 apt-get install -yf rstudio-connect={{ Image.Version }}-1
apt-mark hold rstudio-connect
{%- endif %}

mv /tmp/rstudio-connect.gcfg /etc/rstudio-connect/rstudio-connect.gcfg
if [ "$IMAGE_VARIANT" != "Minimal" ]; then
cat << EOF >> /etc/rstudio-connect/rstudio-connect.gcfg
[R]
Enabled = true
{% for r_version in Dependencies.R -%}
Executable = {{ r.get_version_directory(r_version) }}/bin/R
{%- endfor %}

[Python]
Enabled = true
{% for python_version in Dependencies.python -%}
Executable = {{ python.get_version_directory(python_version) }}/bin/python
{%- endfor %}

[Quarto]
Enabled = true
{% for quarto_version in Dependencies.quarto -%}
Executable = {{ quarto.get_version_directory(quarto_version) }}/bin/quarto
{%- endfor %}

[TensorFlow]
Enabled = true
Executable = /usr/bin/tensorflow_model_server
EOF
else
cat << EOF >> /etc/rstudio-connect/rstudio-connect.gcfg
[Quarto]
Enabled = false

[TensorFlow]
Enabled = false
EOF
fi

# clean up
{{ apt.clean_command() }}
